version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
    commit-message:
      prefix: "chore(deps)"
    cooldown:
      default-days: 7

  - package-ecosystem: mix
    directory: "/"
    schedule:
      interval: weekly
    commit-message:
      prefix: "chore(deps)"
    groups:
      prod:
        dependency-type: production
      dev:
        dependency-type: development
    cooldown:
      default-days: 7