# This file is synced with beam-community/common-config. Any changes will be overwritten.

name: Common Config

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/common-config.yaml
  repository_dispatch:
    types:
      - common-config
  schedule:
    - cron: "0 0 1 * *"
  workflow_dispatch: {}

concurrency:
  group: Common Config

jobs:
  Sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          persist-credentials: true

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 20

      - name: Setup Elixir
        uses: stordco/actions-elixir/setup@v1
        with:
          github-token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          elixir-version: "1.19"
          otp-version: "27.0"

      - name: Sync
        uses: beam-community/actions-sync@v1
        with:
          commit-message: "chore: sync files with beam-community/common-config"
          pr-enabled: true
          pr-labels: common-config
          pr-title: "chore: sync files with beam-community/common-config"
          pr-token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          sync-auth: doomspork:${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          sync-tree: latest
          sync-repository: github.com/beam-community/common-config.git
          config-file: .github/common-config.yaml
