# This file is synced with beam-community/common-config. Any changes will be overwritten.

name: Production

on:
  release:
    types:
      - released
      - prereleased
  workflow_dispatch:

concurrency:
  group: Production

jobs:
  Hex:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Elixir
        uses: stordco/actions-elixir/setup@v1
        with:
          github-token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}

      - name: Compile
        run: mix compile --docs

      - name: Publish
        run: mix hex.publish --yes
        env:
          HEX_API_KEY: ${{ secrets.HEX_API_KEY }}
