# This file is synced with beam-community/common-config. Any changes will be overwritten.

name: Release

on:
  push:
    branches:
      - main

jobs:
  Please:
    runs-on: ubuntu-latest

    steps:
      - id: release
        name: Release
        uses: googleapis/release-please-action@v4
        with:
          config-file: .github/release-please-config.json
          manifest-file: .github/release-please-manifest.json
          token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
